<div class="col-md-8">
  

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Address</th>
        <th>Options</th>
        <th></th>
        <th>Admin</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <% for building in @buildings %>
        <tr>
          <td><%= building.address %></td>
          <td><%= Option.all.where(building_id:building.id).count %></td>
          <td><%= link_to "View", building_path(building)%></td>
          <td><%= button_to 'Delete', building_path(building), method: :delete, class: "btn btn-xs btn-danger" %></td>
          <td><%= building.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<div class="col-md-2">
  <%= link_to "Add New Building", new_building_path, class: "btn btn-default", roll: "button" %>
</div>